@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito',sans-serif;
  font-size: 20px;
}
body{
background-color: #e6e4e4;
    
}
.header .logo{
  height: 70px;
  width: auto;
  transition: all 0.3s ease 0s;
  position: absolute;
  top: 7px;
  left:10px;
}
.header .logo:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.header{
  background-color: #013a31;
  display:flex;
  justify-content: center;
  align-items:center;
  height: 85px;
}
.header .nav-links{
  list-style: none;
}
.header .nav-links li{
  display: inline-block;
  padding: 9px 25px;
  margin: 10px;
  background-color: #FFF;
  border:0px;
  border-style: none;
  border-radius: 20px;
  cursor:pointer;
  transition: all 0.3s ease 0s;
}
.header .nav-links li:hover{
  transform: scale(1.1);
  background-color: #017d69;

}
.header .nav-links li a{
  color: #013a31;
  font-weight: 700;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.footer{
  background-color: #013a31;
  padding: 10px 0;
}

.footer-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-links{
  width: 25%;
  padding: 0 15px;
}
.footer-links{
  width: 25%;
  padding: 0 15px;
}
.footer-links h4{
  font-size: 30px;
  color: #FFF;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #017d69;
  display: inline-block;
  padding-bottom: 10px
}
.redes-links a img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  transition: 0.3s ease 0s;
}
.footer-links ul li a{
  font-size: 18px;
  text-decoration: none;
  color: #bbb;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease 0s;
}
.footer-links ul li a:hover{
  color:#FFF;
  padding-left: 5px;
}
.redes-links a img:hover{
  transform: scale(1.1);
}
h1{
  font-size: 50px;
}
.h2-index{
  font-size: 35px;
}
.p-index{
  margin-top: 5px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 25px;
}
.img2{
  height: 100;
  width: 100;
  margin-bottom: 5px;
}
.section-index{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-menu{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.div-maestro{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-around;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu h2{
  font-size: 25px;
}
.menu img{
  height: 500px;
  width: 500px;
}
.div-servicios{
  display:flex;
  justify-self: center;
}
.img1-servicios{
  width: 30vw;
  height: 800px;
}

.img2-servicios{
  width: 30vw;
  height: 800px;
}
.div-servicios p{
  font-size: 55px;
  font-weight: 500;
}
.main-contacto{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.div-contacto h2{
  font-size: 40px;
}
.main-cafeteria{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-cafeteria div img{
  height: 600px;
}
.main-cafeteria div iframe{
  height: 600px;
  width: 600px;
}
.main-cafeteria div{
  width: 100vw;
}
.div-cafeteria{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}


